.menu {
  width: 100%;
  height: 80px;
  padding: 5px 18px;
}
.menu {
  position: relative;
  display: inline-block;
}
.menu ul.active {
  display: none;
}
.menu ul {
  width: 90%;
  position: absolute;
  top: 120%;
  left: 0px;
  padding: 5px 18px;
  background-color:rgba(250, 250, 250, 0.6);
  border: 2px solid #E91E63;
}
.menu ul:after {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0%;
  left: 10px;
  content: '';
  transform: translate(0%, -100%);
}
.menu li {
  margin: 5px 0px 0px 0px;
  float: none;
  display: block;
  border-bottom: 2px solid #E91E63:
}
.menu a {
  display: block;
  color: #424242;
}
.toggle-nav {
  float: left;
  display: inline-block;
  color: #E91E63;
  font-size: 20px;
  transition: color linear 0.15s;
}
.toggle-nav:hover, .toggle-nav.active {
  text-decoration: none;
  color: #E91E63;
}
.nav-logo h3 {
  margin-left: 80px;
  position: absolute;
  text-align: center;
}

#sub-email {
  width: 100%;
  margin-bottom: 10px;
}

.sub-btn {
  width: 100%;
  float: none;
  margin-left: 0;
}
